
$base_green_button_color  : #46BB5D;
$base-shadow :0.5px 0.5px 3px 0.1px grey;
$base_border_radius : 7px;
$base_button_radius : 4px;

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  overflow-y: scroll;
  font-size: larger;
  cursor: default;
  margin: 15px;

  background-color:#d4e1ea;
}

*{
   box-sizing: border-box;
}

input[type="submit"], button{
  cursor: pointer;
}


.google_login{
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: $base_button_radius;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
   
}

.title_color{
  color: #3e4f5b;
}

.header_container{
  text-align: center;
}

.content_container{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;
  
  div{
    margin-top: 50px;
  }
  
  .forms_container{
    text-align: center;
    margin-bottom: 300px;
    box-shadow: $base-shadow;
    border-radius: $base_border_radius;
    background-color: white;
    padding: 10px;
    width: 600px;
    
    form{
      margin-bottom: 40px;
      
      input{
        border-radius: $base_button_radius;   
        padding: 10px;
        font-size: 16px;
      
        &:focus{
          outline: #76a8e9 solid 2px;   
        }
        
        &:not(input[type=submit]){ 
          border :0.1px solid rgb(101, 100, 97);
          width: 300px;
          margin-bottom: 20px;
        }
        
        &[type=submit]{
          width: 65%;
          color: white;
          font-weight: bold;
          border: none;
          font-size: 18px;
          background-color: $base_green_button_color;
          margin-top: 20px;
        }
        
        &[type=submit]:hover {
          box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        }
      }
    }

    .link{
      font-size: smaller;
  
      a{
        text-decoration: none;
        color: #508bd8;
      }
  
    } 
    
    .messages{
      color: rgb(223, 66, 66);
      font-size: smaller;
      height: 2px;
      position: relative;
      top: 20px;
    }
  }

}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  margin-top: auto;
  width: 100%;
  font-size: smaller;

  a{
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }

}
