{% load static %}
{% load socialaccount %}
{% load account %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">  -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">   
   <link href="{% static 'board/styles.css' %}" rel="stylesheet"> 
  <script src="{% static 'board/index.js' %}"></script> 
  <title>Real Otakus</title>
</head>

<body >
  <h1>so you are a real otaku ?</h1>

  <div class="about">
      <p class="intro">
        Real otakus is the first platform for otakus (anime fans)
        who are ready to participate in challenging and mind blowing questions  
      </p>
      
      <h2>what can you do</h2>
        <p>take a quiz in your favorite anime</p>
        <p>see where you stand from other otakus compeititors</p>
        <p>review others contributed questions</p>
        <p>contribute by creating questions</p>
  </div>

  <form action="{%url 'login_url' %}" method="post" >
      {% csrf_token %}
      <input type="text" id="login_name" name="username" placeholder="username" autocomplete="off" required autofocus><br>
      <input type="password" name="password" placeholder=" passsword" autocomplete="off" required><br>
      <input type="submit" value="Sign in" class="formbtn">
  </form>
  <br>

  <div class="form">  
    <button type="button" id="authenticate" class="google_login" value="{% provider_login_url 'google' %}">
      continue with google
    </button>
  </div>
  
</body>
            
</html>

