{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="{% static 'board/styles.css' %}" rel="stylesheet" />

    {% block script %}{% endblock %}
    
    <title>{% block head_title %}{% endblock %}</title>

  </head>
  
  <body>
    {% block main %}{% endblock %} 
    <footer>
      <a
        href="https://github.com/abdelrahman725/RealOtakus"
        target="_blank"
        rel="noreferrer"
      >
        Github
      </a>
    
      <a href="https://twitter.com/RealOtakus" target="_blank" rel="noreferrer"> Twitter </a>
    
      {% comment %} <a href="/#" target="_blank" rel="noreferrer"> Support us</a> {% endcomment %}
    
      <a href="{%url 'privacy_url' %}" target="_blank">Privacy</a>
      <a href="{%url 'terms_url' %}" target="_blank">Terms</a>
    </footer>
  
  </body>

</html>
