
$defaul_round:  10px;

.App
{
  display: flex;
  flex-direction: column;
  div{
    margin-left: auto;
    margin-right: auto;
   
  }
}
.EachAnime
{
  margin-bottom: 20px;
  border-radius: $defaul_round;
  text-align: center;
  padding: 12px;  
  color: white;
}



.RegisterForm,.LoginForm
{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  
  max-width: 30%;
  .TextField,.RegisterLoginBtn,.select-box{
    margin-bottom: 25px;
  }
  .RegisterLoginBtn{
  padding:10px;
  }
}

.RegisterForm{
  .select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    // margin: 5em auto;
    width: 100%;
  }
  
  .select,
  .label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: #ececec;
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
  }
  .open .label::after {
     content: "▲";
  }
  .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
  }
}

a {text-decoration: none;}
a:hover{
  cursor: pointer;
}

.Navbar
{
  
 
  display: flex;
  z-index:2;
  position: sticky;  
  background-color: royalblue;
  width:70%;
  border-radius: $defaul_round;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 40px;
 
  div, a{
    background-color: royalblue;
    color:white;
    padding: 10px;
    border-radius: $defaul_round;
   
    }
    .Logo
    {
      color: orangered;
      font-size: medium;
    }

  .UserName{
    display: flex;
    align-items: center;

   .PersonIcon
   {
     margin-right: 10px;
   }
  }
  .UserName:hover,a:hover{
    background-color: rgb(22, 68, 206);
  }
}

.TablesContainer

{
  width: 60%;
  .Table{
    margin-top: 40px;
  }
  .TableHead{
    background-color: royalblue;
  }
}

.ButtonsGroup
{
  width: 20%;
  .ButtonChild
  {
    margin-bottom: 20px;
  }
}

@media (max-width:700px) {
  .ButtonsGroup
  {
    min-width:150px;
  }
  .TablesContainer{

    min-width: 415px;
  }
}

@media (max-width:800px)
{

  .Navbar{
    flex-direction: column;
    align-items: center;
    width:40%;
    text-align: center;
  }
} 
