
$defaul_round:  10px;

.App
{
  display: flex;
  flex-direction: column;
  div{
    margin-left: auto;
    margin-right: auto;
   
  }
}
.EachAnime
{
  margin-bottom: 20px;
  border-radius: $defaul_round;
  text-align: center;
  padding: 12px;  
  color: white;
}

.RegisterForm,.LoginForm
{
  display: flex;
  flex-direction: column;
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  max-width: 30%;
  .TextField,.RegisterLoginBtn,select{
    margin-bottom: 25px;
  }
  .RegisterLoginBtn{
  }
}
.Navbar
{
  
 
  display: flex;
  z-index:2;
  position: sticky;  
  background-color: royalblue;
  width:70%;
  border-radius: $defaul_round;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 40px;
 
  div, a{
    background-color: royalblue;
    color:white;
    padding: 10px;
    border-radius: $defaul_round;
    a {text-decoration: none;}
    }
    .Logo
    {
      color: orangered;
      font-size: medium;
    }

  .UserName{
    display: flex;
    align-items: center;

   .PersonIcon
   {
     margin-right: 10px;
   }
  }
  .UserName:hover,a:hover{
    background-color: rgb(22, 68, 206);
    cursor: pointer;
  }
}

.TablesContainer

{
  width: 60%;
  .Table{
    margin-top: 40px;
  }
  .TableHead{
    background-color: royalblue;
  }
}

.ButtonsGroup
{
  width: 20%;
  .ButtonChild
  {
    margin-bottom: 20px;
  }
}

@media (max-width:700px) {
  .ButtonsGroup
  {
    min-width:150px;
  }
  .TablesContainer{

    min-width: 415px;
  }
}

@media (max-width:800px)
{

  .Navbar{
    flex-direction: column;
    align-items: center;
    width:40%;
    text-align: center;
  }
} 
