.centered_div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button, .pointer_cursor {
  cursor: pointer;
}

.navbar {
  background-color: #262F36;
  height: 70px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  font-size: 30px;
  letter-spacing: 4px;
}

.navbar .header_data {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .header_data div {
  margin-right: 40px;
}

.navigation_buttons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation_buttons button {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 15px 0px;
  background-color: #262F36;
  letter-spacing: 1px;
}

.dashboard {
  -webkit-transition: 1s;
  transition: 1s;
  width: 60%;
  text-align: center;
  border-radius: 7px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #262F36;
}

.dashboard .head {
  border-bottom: 5px solid #3e4d58;
}

.dashboard th {
  padding: 20px;
  font-size: medium;
}

.dashboard tr {
  border-bottom: 1.5px solid #3e4d58;
}

.dashboard tbody tr:last-child {
  border-bottom: none;
}

.dashboard td {
  padding: 20px   18px;
}

@media screen and (max-width: 510px) {
  .dashboard {
    width: 80%;
    font-size: small;
  }
  .dashboard td {
    padding: 10px   5px;
  }
  .dashboard th {
    padding: 15px 5px;
    font-size: small;
  }
  .Question {
    width: 90%;
  }
}

.select_animes {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.animeslist .startgame {
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: large;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: green;
}

.questionscontainer .eachquestion {
  border-left: solid 20px;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 15px;
  width: 70%;
  color: black;
  padding: 5px 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.questionscontainer .eachquestion p {
  line-height: 2;
}

.questionscontainer form .radio {
  text-align: left;
}

.questionscontainer .pendingstate {
  border-color: #e6ab3f;
}

.questionscontainer .reviewstate {
  border-color: #5bc0de;
}

.questionscontainer .approvestate {
  border-color: #4ecd91;
}

.questionscontainer .declinestate {
  border-color: #E76450;
}

@media screen and (max-width: 800px) {
  .questionscontainer .eachquestion {
    width: 90%;
  }
}

.Question {
  width: 700px;
}

.Question .choice {
  margin-bottom: 10px;
  color: black;
  padding: 20px 15px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.Question .selected_choice {
  background-color: #365FAA;
  color: white;
}

.Question .rightchoice {
  background-color: #00AD83;
  color: white;
}

.Question .wrongchoice {
  background-color: #C41E3A;
  color: white;
}

.Quiz .buttoncontainer {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Quiz .buttoncontainer button {
  color: white;
  border: none;
  background-color: #365FAA;
  padding: 5px 20px;
}

.Quiz .buttoncontainer .faded {
  opacity: 60%;
}

@media screen and (max-width: 800px) {
  .Question {
    width: 85%;
  }
  .Quiz .buttoncontainer {
    width: 85%;
  }
}

.contribution span {
  font-weight: lighter;
}

.contribution .contribution_form textarea {
  padding: 10px;
  width: 350px;
  border-radius: 8px;
  font-size: large;
  resize: none;
  outline: none;
  margin-bottom: 10px;
}

.contribution .contribution_form textarea:first-of-type {
  height: 120px;
}

.contribution .contribution_form textarea:focus {
  border-color: white;
  outline: #2684FF solid 2.5px;
}

.contribution .contribution_form button {
  padding: 10px 15px;
  font-size: large;
  letter-spacing: 2px;
  border-radius: 4px;
  color: aliceblue;
  border: none;
  background-color: #00AD83;
}

.notifications .notification {
  border-radius: 6px;
  text-align: left;
  margin-bottom: 40px;
  width: 90%;
  color: black;
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
  position: relative;
}

.notifications .notification .notification_time {
  position: absolute;
  bottom: 0px;
  font-size: small;
}
/*# sourceMappingURL=App.css.map */