.App {
  text-align: center;
  cursor: default;
}
.eachanime
{
  padding: 10px;
  background-color: black;
  color:white;
  margin: 5px;
  width: 30%;
}
.eachanime:hover
{
  background-color: green;
}