.centered_div, .dashboard, .questions_container, .review_page, .question_basic, .user_contributed_question, .each_question_for_review_container, .game_view_container, .game_view_container .game_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button,
.pointer_cursor,
.game_view_container .game_container .question_x .choice {
  cursor: pointer;
}

.darker_background, .settings .danger_container form .disabled_btn {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.darker_on_hover:hover, .submit_btn:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

button {
  border-radius: 7px;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.simple_link {
  color: #0e4b9b;
}

.simple_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.submit_btn {
  background-color: #46bb5d;
}

.app_loading_div {
  padding: 20px;
  text-align: center;
}

.loading_div {
  margin-top: 100px;
  font-size: larger;
}

.disabled_div {
  pointer-events: none;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.faded_background {
  opacity: 50%;
}

.not_authenticated {
  text-align: center;
  margin: 10px;
}

.not_authenticated .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.not_authenticated .container .about {
  margin-bottom: 50px;
}

.not_authenticated .container .authenticating_forms {
  width: 25%;
  min-width: 340px;
}

.not_authenticated .container .authenticating_forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not_authenticated .container .authenticating_forms form .select_country {
  text-align: left;
}

.not_authenticated .container .authenticating_forms form input {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: #d7d2d2 solid 1px;
}

.not_authenticated .container .authenticating_forms form input:focus {
  outline: #76a8e9 solid 2px;
}

.not_authenticated .container .authenticating_forms form .submit_btn {
  width: 100%;
}

.not_authenticated .container .authenticating_forms form .fixed_height_container {
  height: 30px;
  margin-bottom: 10px;
}

.not_authenticated .container .authenticating_forms .simple_link {
  font-weight: bolder;
  background: none;
  padding: 1px;
}

.not_authenticated .container .authenticating_forms .google_container {
  margin-bottom: 20px;
}

.not_authenticated .container .authenticating_forms .google_container .google_btn {
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: 0.4px solid #d7d2d2;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  letter-spacing: 0.4;
  font-size: 15px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  background-color: white;
}

.not_authenticated .container .authenticating_forms .google_container .google_btn:hover {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.not_authenticated .container .authenticating_forms .google_container .google_btn:active {
  background-color: #eeeeee;
}

.not_authenticated .container .authenticating_forms .google_container .google_btn:focus {
  outline: none;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.navbar {
  background-color: #262f36;
  color: white;
  padding: 7px 0px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .right,
.navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .right div {
  margin: 0px 30px;
}

.navbar .icon, .navbar .nav_icon {
  cursor: pointer;
  color: #6e7174;
}

.navbar .icon:hover, .navbar .nav_icon:hover {
  color: white;
}

.navbar .nav_icon {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.navbar .notification {
  position: relative;
}

.navbar .notification .n_notifications {
  position: absolute;
  right: -0.9em;
  top: -0.9em;
  min-width: 1.6em;
  /* or width, explained below. */
  height: 1.6em;
  border-radius: 0.8em;
  /* or 50%, explained below. */
  border: 0.05em solid white;
  background-color: red;
  /* number size and position */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  color: white;
}

.navbar .logo {
  font-size: xx-large;
  color: white;
}

.navbar .about_icon {
  margin-left: 20px;
  position: relative;
  top: 18px;
}

.country_selection_panel {
  background-color: #262f36;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
  position: absolute;
  z-index: 2;
  width: 80%;
  max-width: 900px;
  height: 400px;
  margin-top: 200px;
}

.country_selection_panel h1 {
  color: white;
  padding: 5px;
}

.country_selection_panel .close_icon {
  cursor: pointer;
  color: #6e7174;
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
  float: right;
  margin-top: 10px;
  margin-right: 12px;
  margin-bottom: 15px;
}

.country_selection_panel .close_icon:hover {
  color: white;
}

.country_selection_panel form {
  margin-top: 50px;
}

.country_selection_panel form .info_message {
  font-weight: bolder;
  color: white;
}

.country_selection_panel form .lower_div {
  margin: 40px 0px;
}

.navigation_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation_buttons button {
  min-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  padding: 0px 10px;
  height: 55px;
  background-color: #262f36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_buttons button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.navigation_buttons button .icon, .navigation_buttons button .navbar .nav_icon, .navbar .navigation_buttons button .nav_icon {
  margin-right: 3px;
  font-size: x-large;
}

.dashboard {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 7px;
  border-collapse: collapse;
  color: white;
  background-color: #262f36;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.dashboard th {
  border-bottom: 6px solid #3e4d58;
  padding: 20px;
  font-size: medium;
}

.dashboard .user_order_head {
  padding: 0px;
}

.dashboard tr {
  border-bottom: 1.5px solid #3e4d58;
}

.dashboard tbody tr:last-child {
  border-bottom: none;
}

.dashboard td {
  padding: 20px 18px;
}

.dashboard .user_order {
  padding: 0px;
  padding-left: 15px;
}

.dashboard_container {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.dashboard_container .leaderboard_title {
  font-size: 22px;
}

.dashboard_container .leaderboard {
  width: 65%;
}

.dashboard_container .leaderboard .top_competitor_icon {
  color: #ffd700;
  float: left;
}

.dashboard_container .leaderboard .current_user {
  background-color: #3e4f5b;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 20px;
}

.account .progress {
  width: 90%;
  max-width: 700px;
  padding: 20px;
  margin-bottom: 100px;
  font-size: large;
  background-color: #262f36;
  color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.account .progress hr {
  border: 2px solid #3e4d58;
}

.account .progress .data_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 15px 25px 15px;
}

.account .progress .data_row div:last-child {
  font-weight: 500;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #249090;
}

.account .interactions td {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user_contributions {
  text-align: center;
}

.user_contributions .n_contributions {
  position: relative;
  top: 1.5px;
}

.user_contributions .contributions_states_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  margin-bottom: 30px;
}

.user_contributions .contributions_states_buttons button {
  margin: 12px;
  padding: 11px 15px;
  font-size: 15px;
}

.user_contributions .contributions_states_buttons .all {
  color: black;
}

.user_contributions .contributions_states_buttons .approved {
  background-color: #46bb5d;
}

.user_contributions .contributions_states_buttons .pending {
  background-color: #f0ba56;
}

.user_contributions .contributions_states_buttons .rejected {
  background-color: #e76450;
}

.questions_container, .review_page {
  margin: 20px;
}

.questions_container .canceledstate, .review_page .canceledstate {
  border-color: grey;
  opacity: 50%;
}

.questions_container .pendingstate, .review_page .pendingstate {
  border-color: #f0ba56;
}

.questions_container .declinestate, .review_page .declinestate {
  border-color: #e76450;
}

.questions_container .approvestate, .review_page .approvestate {
  border-color: #46bb5d;
}

.question_basic, .user_contributed_question, .each_question_for_review_container {
  background-color: white;
  border-left: solid 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
  max-width: 800px;
  padding: 5px 10px;
  padding-bottom: 10px;
  text-align: left;
}

.question_basic .right_answer, .user_contributed_question .right_answer, .each_question_for_review_container .right_answer {
  background-color: #c7f1dc;
  border-radius: 7px;
}

.question_basic .choices, .user_contributed_question .choices, .each_question_for_review_container .choices {
  padding-left: 15px;
  padding-top: 1px;
}

.question_basic .choices p, .user_contributed_question .choices p, .each_question_for_review_container .choices p {
  padding: 5px;
}

.user_contributed_question {
  margin-bottom: 80px;
}

.user_contributed_question .date_created {
  font-size: smaller;
  position: relative;
  top: 10px;
}

.review_page .review_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.review_page .review_container .animes_for_review {
  margin-bottom: 50px;
}

.review_page .review_container .contributions_for_review {
  width: 900px;
}

.review_page .review_container .contributions_for_review .link_to_about_page {
  padding: 7px 0px;
}

.each_question_for_review_container {
  margin-bottom: 110px;
}

.each_question_for_review_container .date_created {
  font-size: smaller;
}

.each_question_for_review_container .question_contents {
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.each_question_for_review_container form label {
  margin-right: 20px;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: large;
}

.each_question_for_review_container form label input {
  position: absolute;
  opacity: 0;
}

.each_question_for_review_container form label span {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.each_question_for_review_container form label input:checked ~ .approve_checkmark {
  background-color: #1aa590;
}

.each_question_for_review_container form label input:checked ~ .decline_checkmark {
  background-color: #f36421;
}

.each_question_for_review_container form label span:after {
  content: "";
  position: absolute;
  display: none;
}

.each_question_for_review_container form label input:checked ~ span:after {
  display: block;
}

.each_question_for_review_container form label span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.each_question_for_review_container form .question_feedback {
  margin-bottom: 20px;
  max-width: 300px;
}

.each_question_for_review_container form button {
  padding: 7px 11px;
}

.each_question_for_review_container .submit_container {
  height: 30px;
}

.game_view_container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.game_view_container .pre_game_container .res_info {
  color: #dc334f;
  font-size: larger;
}

.game_view_container .pre_game_container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.game_view_container .pre_game_container .container .instructions {
  text-align: left;
}

.game_view_container .pre_game_container .container .instructions .warning_icon {
  font-size: large;
  margin-right: 5px;
  position: relative;
  top: 3px;
  color: #b61c36;
}

.game_view_container .pre_game_container .container .react_select {
  margin-top: 15px;
  margin-bottom: 15px;
}

.game_view_container .game_container {
  min-width: 340px;
}

.game_view_container .game_container .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

.game_view_container .game_container .timer .icon, .game_view_container .game_container .timer .navbar .nav_icon, .navbar .game_view_container .game_container .timer .nav_icon {
  font-size: 26px;
}

.game_view_container .game_container .question_x {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game_view_container .game_container .disabled_question {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  opacity: 40%;
}

.game_view_container .game_container .game_question .choice {
  border-radius: 7px;
  background-color: white;
  margin-bottom: 15px;
  padding: 20px 15px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.game_view_container .game_container .game_question .selected_choice {
  background-color: #365faa;
  color: white;
}

.game_view_container .game_container .game_question .rightchoice {
  background-color: #13cfa0;
  color: white;
}

.game_view_container .game_container .game_question .wrongchoice {
  background-color: #c64e62;
  color: white;
}

.game_view_container .game_container .result_question {
  margin-bottom: 150px;
}

.game_view_container .game_container .game_buttons {
  margin: 30px 0px;
}

.game_view_container .game_container .next_btn {
  background-color: #365faa;
}

.contribution {
  margin-bottom: 60px;
}

.contribution .contribution_form {
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contribution .contribution_form span {
  font-size: smaller;
  opacity: 60%;
  margin-bottom: 20px;
}

.contribution .contribution_form textarea {
  width: 99.9%;
  padding: 10px;
  border-radius: 7px;
  font-size: large;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

.contribution .contribution_form textarea:first-of-type {
  height: 120px;
}

.contribution .contribution_form button:focus,
.contribution .contribution_form textarea:focus {
  outline: #2684ff solid 2.1px;
  border-color: white;
}

.contribution .contribution_form .submit_container {
  margin-top: 10px;
  height: 50px;
}

.contribution .contribution_form .invalid_input {
  font-size: larger;
  color: crimson;
  margin-top: 6px;
}

.react_select {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.notifications {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 650px;
}

.notifications .notification {
  border-radius: 7px;
  background-color: white;
  text-align: left;
  padding: 0.1px 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0.5px 0.5px 3px 0.1px grey;
          box-shadow: 0.5px 0.5px 3px 0.1px grey;
}

.notifications .notification:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.notifications .notification .notification_time {
  font-size: small;
}

.settings {
  margin: 10px;
}

.settings .title {
  display: inline-block;
}

.settings .danger_container .pre_delete {
  background-color: black;
}

.settings .danger_container button {
  margin-left: 20px;
}

.settings .danger_container form {
  margin-top: 30px;
}

.settings .danger_container form input {
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 16px;
  border: none;
  outline: #d7d2d2 solid 1px;
}

.settings .danger_container form .disabled_btn {
  cursor: default;
}

.settings .danger_container form button {
  background-color: red;
}

.about,
.terms,
.privacy {
  padding: 0px 25px 0px 25px;
  text-align: left;
}

.about h2,
.about h3,
.about h4,
.terms h2,
.terms h3,
.terms h4,
.privacy h2,
.privacy h3,
.privacy h4 {
  position: relative;
  top: 10px;
}

.about div {
  margin-bottom: 60px;
}

.about .love {
  text-align: center;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  color: #262f36;
}

.about .icon, .about .navbar .nav_icon, .navbar .about .nav_icon {
  font-size: 26px;
}

.about a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
  margin-left: 4px;
}

.about .community_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .community_links span {
  font-size: 21px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  bottom: 6px;
}

.terms .date,
.privacy .date {
  position: relative;
  bottom: 20px;
}

.terms .credit,
.privacy .credit {
  margin-top: 3em;
  font-size: 0.8em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0px 20px 0px;
  color: white;
  margin-top: auto;
  width: 100%;
  font-size: smaller;
}

footer a {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 580px) {
  .navbar,
  .contributions_states_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .right_existent {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .leaderboard {
    font-size: 12px;
  }
  .leaderboard td {
    padding: 12px 7px;
  }
  .leaderboard th {
    padding: 15px 7px;
    font-size: small;
  }
  .leaderboard img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 900px) {
  .navigation_buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */