.centered_div, .dashboard, .account, .account .profile, .questions_container, .review_page, .question_basic, .contributed_question, .review_question, .game, .notifications {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button, .pointer_cursor {
  cursor: pointer;
}

.icon_basic, .navbar .icon {
  cursor: pointer;
  color: #6e7174;
  font-size: xx-large;
}

.navbar {
  background-color: #262F36;
  border-bottom: 2px solid #645c30;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.navbar .icon:hover {
  color: #49c18c;
}

.navbar .logo {
  font-size: 30px;
  letter-spacing: 1px;
  color: beige;
}

.spaced_div {
  margin-top: 90px;
}

.back_arrow {
  margin-bottom: 10px;
  font-size: 60px;
  position: relative;
  margin-left: 40px;
}

.back_arrow span:hover {
  color: #49c18c;
}

.navigation_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation_buttons button {
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  color: white;
  padding: 0px 10px;
  font-weight: bold;
  height: 55px;
  border-radius: 7px;
  background-color: #262F36;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_buttons button .icon {
  margin-right: 3px;
  font-size: x-large;
}

.dashboard {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 7px;
  border-collapse: collapse;
  color: white;
  background-color: #262F36;
  -webkit-box-shadow: 0.5px 0.5px 10px 0.1px grey;
          box-shadow: 0.5px 0.5px 10px 0.1px grey;
}

.dashboard th {
  border-bottom: 6px solid #3e4d58;
  padding: 20px;
  font-size: medium;
}

.dashboard tr {
  border-bottom: 1.5px solid #3e4d58;
}

.dashboard tbody tr:last-child {
  border-bottom: none;
}

.dashboard td {
  padding: 20px   18px;
}

.leaderboard {
  width: 65%;
}

.leaderboard .top_competitor {
  position: relative;
  right: 5px;
}

.leaderboard .top_competitor_icon {
  margin-right: 2px;
  color: #FFD700;
  font-size: large;
}

.account {
  margin: 20px;
}

.account .profile {
  width: 85%;
  color: white;
  background-color: #262F36;
  border-radius: 7px;
  -webkit-box-shadow: 0.5px 0.5px 10px 0.1px grey;
          box-shadow: 0.5px 0.5px 10px 0.1px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account .profile div {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.account .profile div p {
  font-weight: bold;
  font-size: 35px;
}

.account .profile hr {
  background-color: #353e45;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.account .interactions {
  width: 85%;
}

@media screen and (max-width: 372px) {
  textarea {
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  .spaced_div {
    margin-top: 125px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .logo {
    margin-bottom: 10px;
  }
  .leaderboard {
    font-size: 15px;
  }
  .leaderboard td {
    padding: 12px 12px;
  }
  .leaderboard th {
    padding: 15px 8px;
    font-size: small;
  }
}

@media screen and (max-width: 900px) {
  .account .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .account .profile hr {
    width: 80%;
    margin-bottom: 30px;
  }
  .navigation_buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation_buttons button {
    width: 240px;
  }
}

.questions_container, .review_page {
  margin: 10px;
}

.questions_container .canceledstate, .review_page .canceledstate {
  border-color: grey;
}

.questions_container .pendingstate, .review_page .pendingstate {
  border-color: #e6ab3f;
}

.questions_container .declinestate, .review_page .declinestate {
  border-color: #E76450;
}

.questions_container .approvestate, .review_page .approvestate {
  border-color: #4ecd91;
}

.question_basic, .contributed_question, .review_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: solid 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0.5px 0.5px 10px 0.1px grey;
          box-shadow: 0.5px 0.5px 10px 0.1px grey;
  max-width: 800px;
  padding: 5px 10px;
  padding-bottom: 10px;
  text-align: left;
}

.contributed_question {
  margin-bottom: 20px;
}

.review_page form label {
  margin-right: 20px;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: large;
}

.review_page form label input {
  position: absolute;
  opacity: 0;
}

.review_page form label span {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.review_page form label input:checked ~ .approve_checkmark {
  background-color: #1aa590;
}

.review_page form label input:checked ~ .decline_checkmark {
  background-color: #f36421;
}

.review_page form label span:after {
  content: "";
  position: absolute;
  display: none;
}

.review_page form label input:checked ~ span:after {
  display: block;
}

.review_page form label span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.review_page form .review_buttons {
  margin-bottom: 10px;
}

.review_page form .review_buttons button {
  margin-right: 20px;
}

.review_page form .question_feedback {
  margin-bottom: 20px;
  max-width: 300px;
}

.review_question {
  margin-bottom: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.review_question .choices {
  margin-bottom: 10px;
}

.game_container {
  margin: 10px;
}

.game {
  max-width: 750px;
}

.game .game_question .choice {
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 20px 15px;
  -webkit-box-shadow: 0.5px 0.5px 10px 0.1px grey;
          box-shadow: 0.5px 0.5px 10px 0.1px grey;
}

.game .game_question .selected_choice {
  background-color: #365FAA;
  color: white;
}

.game .game_question .rightchoice {
  background-color: #00AD83;
  color: white;
}

.game .game_question .wrongchoice {
  background-color: #C41E3A;
  color: white;
}

.game .game_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game .game_buttons button {
  color: white;
  border: none;
  background-color: #365FAA;
  padding: 5px 20px;
}

.game .game_buttons .faded {
  opacity: 60%;
}

.contribution .contribution_form textarea {
  padding: 10px;
  border-radius: 7px;
  font-size: large;
  resize: none;
  outline: none;
  margin-bottom: 14px;
}

.contribution .contribution_form textarea:first-of-type {
  height: 120px;
}

.contribution .contribution_form textarea:focus {
  border-color: white;
  outline: #2684FF solid 2.5px;
}

.contribution .contribution_form button {
  padding: 10px 15px;
  font-size: large;
  letter-spacing: 2px;
  border-radius: 7px;
  border: none;
  background-color: #00AD83;
}

.select_animes {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.animeslist .startgame {
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: large;
  color: white;
  border-radius: 7px;
  border: none;
  background-color: green;
}

.notifications {
  max-width: 650px;
}

.notifications .notification {
  border-radius: 7px;
  text-align: left;
  margin: 10px;
  margin-bottom: 40px;
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0.5px 0.5px 10px 0.1px grey;
          box-shadow: 0.5px 0.5px 10px 0.1px grey;
  position: relative;
}

.notifications .notification .notification_time {
  position: absolute;
  bottom: 0px;
  font-size: small;
}
/*# sourceMappingURL=App.css.map */