
$base_div_backgroun_color  : #262F36;
$base_green_button_color : #46BB5D;
$base-shadow :0.5px 0.5px 3px 0.1px grey;
$base_border_radius : 7px;

body{
  //background-color: #202225;
  //background-color: #dfe5ea;
}


.centered_div{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center; 
}

button, .pointer_cursor {
  cursor: pointer;
}


button{
  border-radius: $base_border_radius;
  color: white;
  transition:  0.3s;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  letter-spacing: 1px;
}


a{
  //color: white;
  text-decoration: none;
}


.submit_btn{
  background-color: $base_green_button_color;
}

.navbar{
  background-color: $base_div_backgroun_color;
  color: white;
  padding:15px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div{
    display: flex;
    flex-direction: row;
    margin:  0px 13px; 
  }

  .icon{
    cursor: pointer;
    font-size:xx-large;
    color: #6e7174;  
    &:hover{
      color: white;
    }
  }

  .logo{
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
  }

}


.spaced_div{
  margin-top: 70px;
}


.navigation_buttons{
  display: flex;
  justify-content: center;
 
  button {
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px; 
    padding: 0px 10px;
    height: 55px;
    background-color: $base_div_backgroun_color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      transform: scale(1.04);
    }

    .icon{
      margin-right: 3px;
      font-size: x-large;
    }
  
  }
  
}


.dashboard{
  @extend .centered_div;
  transition:  1s;
  border-radius: $base_border_radius;
  border-collapse: collapse;
  color: white; 
  background-color: $base_div_backgroun_color;
  box-shadow: $base-shadow ;

  th{ 
     border-bottom: 6px solid #3e4d58; 
     padding: 20px;
     font-size: medium;
  }
  
  tr{
    border-bottom: 1.5px solid #3e4d58;
  }
  
  tbody tr:last-child{
    border-bottom: none;
  }

  td{ padding:  20px   18px; }
   
}


.leaderboard{
  width: 65%;
  .top_competitor{
    position: relative;
    right: 5px;
  }

  .top_competitor_icon{
    margin-right: 2px;
    color: #FFD700;
    font-size: large;
  }
  
}

.account{
  @extend .centered_div;
  margin: 20px;

  .profile{
    width: 85%;
    @extend .centered_div;
    color: white;
    background-color: $base_div_backgroun_color;
    border-radius: $base_border_radius;
    box-shadow: $base-shadow ;
    display: flex;  

    div{
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 50px;

      p{
        font-weight: bold;
        font-size: 35px;
      }
    }
    hr{
      background-color: #353e45;
      border: none;
      border-radius: 10px;
      padding:5px;
    }
  }
  
  .interactions{
    width: 85%;
  }

}


@media screen and(max-width: 372px){
  textarea{
    width: 90%;
  }
}

@media screen and(max-width: 550px){
  

  .leaderboard{
    font-size: 12px;
  
    td{ padding:  12px 8px; }
  
    th{ padding: 15px 7px;  font-size: small;}
  }

}

@media screen and(max-width: 900px){

  .navbar{
    flex-direction: column;

    .left{
      margin-bottom: 20px;
    }
  }
  
  .spaced_div{
    margin-top: 110px;
  }

  .navigation_buttons {
    align-items: center;
    flex-direction: column;   
    button {
     width: 240px;
   }
 }
  
  .account{
    .profile{
      flex-direction: column;
      hr{
        width: 80%;
        margin-bottom: 30px;
      }   
    }
  }

}


.questions_container{

  @extend .centered_div;
  margin: 10px;

  .canceledstate{
    border-color: grey;
  }
  
  .pendingstate{
    border-color:rgb(230, 171, 63);
  }
    
  .declinestate{
    border-color: #E76450;
  }
  
  .approvestate{
    border-color:#4ecd91;
  }

}

  
.question_basic{
  @extend .centered_div;
  background-color: white;
  display: flex;  
  border-left: solid 20px;
  border-radius: $base_border_radius;
  box-shadow: $base-shadow ;
  max-width: 800px;
  padding:5px 10px;
  padding-bottom: 10px;
  text-align: left;
}


.contributed_question{  
  @extend .question_basic;
  margin-bottom: 20px;
}


.review_page{
  @extend .questions_container;
  
  form {

    label{
      margin-right: 20px;
      display: inline-block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      font-size: large;

      input{
        position: absolute;
        opacity: 0;
      }
      span{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
      }

      input:checked ~ .approve_checkmark{
        background-color: #1aa590;
      }
      
      input:checked ~ .decline_checkmark{
        background-color: #f36421;
      }

      span:after{
        content: "";
        position: absolute;
        display: none;
      }

      input:checked ~ span:after{
        display: block;
      }

      span:after{
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }


    }

    .review_buttons{
      margin-bottom: 10px;
      button{
        margin-right: 20px;
      }

    }
    
    .question_feedback{
      margin-bottom: 20px;
      max-width: 300px;
    }

    button{
      padding: 5px 10px;
      font-weight: lighter;
      background-color: #365FAA;
    }
  } 

}


.review_question{  
  @extend .question_basic;
  margin-bottom: 110px;
  flex-direction: column;
  justify-content: flex-start;
  .choices{
    margin-bottom: 10px;
  }
}


.game_container{  
  @extend .centered_div;
   max-width: 1200px;

   .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    
    .icon{
      font-size:26px;
    }
   }

  .game_question{
    margin: 25px;

    .choice {
      border-radius: $base_border_radius;
      background-color: white;
      margin-bottom: 15px;
      padding:20px 15px;  
      box-shadow: $base-shadow ;
    }
  
    .selected_choice{
      background-color: #365FAA;
      color: white;
    }
  
    .rightchoice{
      background-color: #00AD83;
      color: white;
    }
  
    .wrongchoice{
      background-color: #C41E3A;
      color: white;
    }
    
  }
  
}


.contribution{
  
  .contribution_form{  
    
    textarea{
      padding:10px;
      border-radius: $base_border_radius;
      font-size: large;
      resize: none;
      outline: none;
      margin-bottom: 14px;
      &:first-of-type{
        height: 120px;
      }
    }

    button:focus, textarea:focus{
      outline: #2684FF solid 2.1px;
      border-color: white;
    }

    .checkbox:checked{
      outline: none;
    }

  }

}

.select_animes{
  margin-left: auto;
  margin-right: auto;
  width:250px;
}


.notifications{
  @extend .centered_div;
  max-width: 650px;
  
  .notification{  
    border-radius: $base_border_radius;
    background-color: white;
    text-align: left;
    margin: 10px;
    margin-bottom: 40px;
    padding:0px 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    box-shadow: $base-shadow ;
    position: relative;
   
    .notification_time{
      position: absolute;
      bottom: 0px;
      font-size: small;
    }
  }
}


footer{
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: $base_div_backgroun_color;
  color: white;
  margin-top: auto;
}
